@import "../../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../../_snowpack/pkg/tailwindcss/dist/utilities.css";

body {
  background-color: #FDF7EB;
}

.bg-cream {
  background-color: #FDF7EB;
}

.bg-yellow-cream {
  background-color: #FDE9C6;
}

.bg-orange{
  background-color: #EA9600;
}

.text-orange{
  color: #EA9600;
}

.text-gray{
  color: #9B948E;
}